/*================================ RESETS ==============================*/
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');


*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}


body {
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
}

:root {
    /*================== VARIABLES =================*/

    /*======= COLORS =======*/
    
    /* PRIMARY */
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --dark-desaturated-cyan: hsl(167, 40%, 24%);
    --dark-blue: hsl(198, 62%, 26%);
    --dark-moderate-cyan: hsl(168, 34%, 55%);

    /* NEUTRAL */
    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);


    /* TYPOGRAPHY */
    --heading-font: 'Fraunces', serif;
    /*=============== END OF VARIABLES ==============*/
}

h1, h2 , .learn-more{
    font-family: var(--heading-font);
    font-weight: 900;
    line-height: 1.1;
}
/* I MIGHT REFACTOR CODE BELOW*/ 
p {
    color: var(--Grayish-blue);
}


.media__title, 
.learn-more, 
.user__name {
    color: var(--Very-dark-desaturated-blue);
}

.service__title {
    color: var(--dark-desaturated-cyan);
}


.header {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.nav {
    padding: 1.5rem;
    display: flex;
    align-items: center;
}

.menu {
    cursor: pointer;
}


/* come back to this */
.logo-container {
    color: var(--White);
}

.close {
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-icon {
   font-size: 32px;
   color: var(--White);
}



.hero__title {
    color: var(--White);
    font-size: 2.3rem;
    letter-spacing: 8px;
    text-align: center;
    margin-top: 140px;
    text-transform: uppercase;
}


.hero__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;    
    background-image: url("./../images/mobile/image-header.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -10;
}

.hero__arrow {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    position:absolute;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
}



.nav {
   display: flex;
   justify-content: space-between;
   /* add padding on parent so logo and menu doesn't touch */
}


.nav__list {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 10%;
    width: 88%;
    height: 40vh;
    background-color: var(--White);
    z-index: 90;
}

.nav__list::after {
    position: absolute;
    top: -1.3em;
    right: 0px;
    width: 0;
    height: 0;
    content: " ";
    display: block;

    border-top: 25px solid transparent;
    border-right: 20px solid white;
    border-bottom: 25px solid transparent;
}

.h-list {
    margin-top: 1.66em;
    border-radius: 1.11rem;
    padding: .44em 1.11em;
    text-align: center;
}

.h-list.active {
    background-color: var(--yellow);
}

.h-nav-link {
    color: var(--Dark-grayish-blue);
}



.media {
    text-align: center;
}

.media__title {
    margin-bottom: 20px;
}


.media__img {
    width: 100%;
}

.media__title {
    font-size: 2rem;
    text-align: center;
}


.media-content {
    padding: 4.44em 2.22em;
    font-size: 1rem;
    line-height: 1.7;
}

.media__text {
    font-size: 1.2rem;
}

.learn-more {
    display: inline-block;
    width: auto;
    cursor: pointer;
    margin-top: 20px;
    text-transform: uppercase;
}

.learn-more::after {
    content: "";
    display: block;
    height: 8px;
    width: inherit;
    background-color: pink;
    border-radius: 10px;
    margin: -5px;
}


.learn-more.learn-more--1::after {
    background-color: var(--yellow);
}

.learn-more.learn-more--2::after {
    background-color: var(--soft-red);
}


.services {
    display: flex;
    flex-direction: column;
    background-size:auto;
    background-repeat: no-repeat;
    object-fit: cover;
}

.service {
    width: 100%;
    padding: 0 2.22em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 60vh;
    padding-bottom: 2.77em;
    background-size: cover;
    background-position: center;
    line-height: 1.4;
}

.service--graphics {
    background-image: url("./../images/mobile/image-graphic-design.jpg");
    
}

.service--photography {
    background-image: url("./../images/mobile/image-photography.jpg");
    
}

.service__title--graphics, .service__text--graphics {
    color: var(--Very-dark-desaturated-blue);
}

.service__title--photography, .service__text--photography {
    color: var(--dark-desaturated-cyan);
}


.service__text {
    font-size: 1rem;
    font-weight: 700;
    margin-top: 1.11em;
}

.testimonial {
    padding: 2.77em 2.22em;
    text-align: center;
}

.testimonial *+*:not(.user__role) {
    margin-top: 1.66em;
}

.testimonial__title, .user__name {
    font-family: var(--heading-font);
    font-weight: 900;
}

.testimonial__title {
    text-transform: uppercase;
    font-size: .87rem;
    letter-spacing: .27em;
}

.user {
    padding-top: 1.11em;
}

.user__img {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.user__text {
    color: var(--Very-dark-grayish-blue);
}

.user__role {
    margin-top: .27em;
}

.image__gallery {
    display: flex;
    flex-wrap: wrap;
}

.image{
    width: 50vw;
}

footer {
    padding: 2.77em .55em .166em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var( --dark-moderate-cyan);
    height: 30vh;
}

.ft-nav {
    width: 100%;
}

.nav-list, .social-ul{
    display: flex;
}

.nav-list {
    justify-content: space-around;
}

.social-list:not(:first-of-type) {
    margin-left: 1.66em;
}

.ft-link, .social-icon {
    color: var(--dark-desaturated-cyan);
}

.logo {
    color: var(--dark-desaturated-cyan);
}

.footer__logo{
    fill: currentColor;
}

.hide {
    display: none;
}
